h1{
    width: 50%;
    margin: 5px auto;
    border-radius: 20px;
    border-bottom: 4px dashed red;
    text-align: center;
    background-color: antiquewhite;
  }
  
  .form{
    background-color: rgba(232, 142, 24, 0.416);
    border: 1px solid black;
    width: 90%;
    margin: 5px auto;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
  }
  
  .element{
    margin: 5px;
  }
  input[type="button"]{
    width: 10%;
    border-radius: 10px;
    height: 25px;
    background-color:  rgb(232, 142, 24);
    color: aliceblue;
  }
  
  input[type="button"]:active{
    background-color: rgba(41, 136, 3, 0.822);
    transform: scaleX(1.1);
    color: azure;
    
  }