label{
    color: #410e71;   
  
    width: 500px;
    /* font-size: large; */
    font-size: 24px;
    vertical-align: middle;
    font-weight: 550;
}
input:valid{
    border: 1px solid #410e71;
    width: 400px;
    height: 30px;
    margin-bottom: 10px;
    font-size: 18px;
    font-style: italic;
}
input:valid+p{
    display: none;
 }

/* incase of non validation */
input:invalid{
   border: 1px solid #622672;
   width: 400px;
   height: 30px;
   font-size: 16px;
}
input:invalid+p{
   display: block;  
   margin: 2px;
   color: rgb(110, 107, 107);
   font-size: 16px;
}

#btn{
    background-color: #410e71;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    margin-top: 10px; 
    font-size: 20px;
    box-shadow: 2px 2px 4px #fff;
  
}

#btn_id{
    /* text-align:justify; */
    background-color: transparent;
   
    box-shadow: none;
   font-weight: 800;
}
div{
    /* text-align: center; */
    width: 550px;
    margin: auto;
    background-color: #cfb2eb;
    padding: 20px;
    border-radius: 15px;
    font-size:larger;
    box-shadow: -4px 4px 4px #fff;
   
 
}
body{
    background-color: #410e71;
}







/* label{
    color: #7207d5;
   
    width: 500px;
    font-size: large;
}
input{
    border: 1px solid #410e71;
    width: 500px;
    height: 25px;
}
#btn{
  
    background-color: #410e71;
    color: white;
    width: 100px;
    border-radius: 5px;
    margin-top: 10px;
    
}
#btn_id{
    /* text-align: center; */
    /* background-color: transparent;
   
}
div{
    /* text-align: center; */
    /* width: 500px;
    background-color: #cfb2eb;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 10px white solid;
}
body{
    background-color: #410e71;
} */ 
