div{
    input{
        border: 2px solid black;
        border-radius: 5px;
        height: 25px;
        margin: 5px;   
    }
    label{
        color: rgb(125, 45, 125);
        font-weight: 600;
        text-transform: capitalize;
    }
}

form{
    display: flex;
    flex-wrap: wrap;
}

button{
    margin-top: 5px;
    border: 1px solid grey;
    border-radius: 5px;
    height: 25px;
    background-color: rgb(125, 45, 125);
    color: aliceblue;
}

//to create class of layout
@mixin CreateLayout ($no_of_cols:12,$mediaQury:" ",$breakPoint:0){
@if ($mediaQury == " "){
    @media (min-width:$breakPoint) {
        @for $i from 1 through $no_of_cols{
            .col-#{$i}{
                width:($i/$no_of_cols)*100%;
            }
        }
    }

}
@else{
    @media (min-width:$breakPoint) {
        @for $i from 1 through $no_of_cols{
            .col-#{$mediaQury}-#{$i}{
                width:($i/$no_of_cols)*100%;
            }
        }
    }
}
}

@include CreateLayout(12," ",0px);  //co1-12
@include CreateLayout(12,"sm",500px); //co1-sm-12
@include CreateLayout(12,"md",800px);//co1-md-12
@include CreateLayout(12,"lg",1000px);//co1-lg-12

