<!-- 

<div class="container-fluid text-center">
 <div class="row alert alert-primary text-center align-items-start ">
    <div class="col btn btn-primary">
      <p [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/student">Students</p>
    </div>
    <div class="col">
      <p routerLinkActive="active" routerLink="/student/4">Students Details</p>
    </div>
    <div class="col">
      <p routerLinkActive="active" routerLink="/profile">Profile</p>
    </div>
    <div class="col">
      <p routerLinkActive="active" routerLink="/hamada">Error</p>
    </div>
 </div>
 </div> -->


<!-- <div class="container-fluid text-center">
 <div class="nav nav-pills flex-column flex-sm-row">
    <div class="flex-sm-fill text-sm-center nav-link active">
      <p [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/student">Students</p>
    </div>
    <div class="flex-sm-fill text-sm-center nav-link">
      <p routerLinkActive="active" routerLink="/student/4">Students Details</p>
    </div>
    <div class="flex-sm-fill text-sm-center nav-link">
      <p routerLinkActive="active" routerLink="/profile">Profile</p>
    </div>
    <div class="flex-sm-fill text-sm-center nav-link ">
      <p routerLinkActive="active" routerLink="/hamada">Error</p>
    </div>
 </div>
 </div>  -->





 <div class="container-fluid text-center">
  <div class="nav nav-pills flex-column flex-sm-row fs-5 ">
    <div
      class="flex-sm-fill text-sm-center nav-link "
      [class.active]="activeIndex === 0"
      (click)="setActive(0)">
      <p [routerLink]="['/student']">Students</p>
    </div>
    <div
      class="flex-sm-fill text-sm-center nav-link"
      [class.active]="activeIndex === 1"
      (click)="setActive(1)">
      <p [routerLink]="['/student/4']">Students Details</p>
    </div>
    <div
      class="flex-sm-fill text-sm-center nav-link"
      [class.active]="activeIndex === 2"
      (click)="setActive(2)"
    >
      <p [routerLink]="['/profile']">Profile</p>
    </div>
    <div
      class="flex-sm-fill text-sm-center nav-link"
      [class.active]="activeIndex === 3"
      (click)="setActive(3)"
    >
      <p [routerLink]="['/hamada']">Error</p>
    </div>
  </div>
</div>











<!-- 
 <nav class="nav nav-pills flex-column flex-sm-row">
  <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="#">Active</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="#">Longer nav link</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="#">Link</a>
  <a class="flex-sm-fill text-sm-center nav-link disabled" aria-disabled="true">Disabled</a>
</nav> -->
 
<!-- <ul>
  <li><a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/">Students</a></li>
  <li><a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/student">Students</a></li>
  <li><a routerLinkActive="active" routerLink="/student/4">Students Details</a></li>
  <li><a routerLinkActive="active" routerLink="/profile">Profile</a></li>
  <li><a routerLinkActive="active" routerLink="/hamada">Error</a></li>
</ul> -->