<div class="text-center m-3">
  <a routerLink="/posts" class="btn btn-outline-light m-5">HOME</a>
</div>

<div class=" m-auto w-50  p-5 rounded bg-secondary bg-opacity-50" style=" font-size: 25px;   box-shadow: 0 2px 5px rgba(145, 135, 135, 0.989);
 color: white; font-style:oblique ">
@if(Posts){
    <!-- <div class="text-center m-3 w-25 alert alert-dark"> -->
      <p>ID: {{Posts.id}}</p>
      <p>UserID: {{Posts.userId}}</p>
      <p>title: {{Posts.title|lowercase}}</p>
      <p>Body: {{Posts.body|lowercase}}</p>
    <!-- </div> -->
  }@else {
    <h1>Loading...</h1>
  }
</div>
 