
<div class="text-center m-3">
    <a routerLink="/posts" class="btn btn-outline-light m-5">HOME</a>
  </div>
  
  @if(comments){
  @for (u of comments; track u.id) {
    <div class=" m-auto w-50  p-5 rounded bg-secondary bg-opacity-50 mb-4" style=" font-size: 25px;   box-shadow: 0 2px 5px rgba(145, 135, 135, 0.989);
    color: white; font-style:oblique ">
        <p>postId: {{u.postId}}</p>
        <p>id: {{u.id}}</p>
        <p>name: {{u.name}}</p>
        <p>email: {{u.email}}</p>
        <p>body: {{u.body}}</p>
        <P>-------------------------------------------------------------------------------</P>
    </div>}

}@else {
      <h1>Loading...</h1>
    }
