@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@400;700&family=PT+Sans:ital@1&display=swap');
/* font-family: 'Lobster', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'PT Sans', sans-serif; */



*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
    scroll-behavior: smooth;

}
body{
    font-family: 'Open Sans', sans-serif;
     /* to center all content of body */

     /* 1st way using flex */
    /* 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    */

    /* 2st way using grid */
    display: grid;
    place-items: center;
    background-image: url(./wp8092590.jpg);
    
}

.title{
    margin: 20px 0;
}


.main{
    border:8px solid #dddddd;
    border-radius: 24px;
    overflow: hidden;
}


.name{
    display: flex;
    font-size: 32px;
    font-weight: 700;
    padding: 8px 16px;
    color: #7e7e7e; /* for icon */
    background-color: #ebebeb;
    
}

.name>span{/* for icon */
    color: #bbb; 
}

.name-input{
    font-size: 24px;
    font-weight: 700;
    color: #7e7e7e;
    flex-grow: 1;
    border: none;
    margin: 0px 12px;
    /* outline: none; */
    background-color: #ebebeb ;
}

.message-container{
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    background-image: url(./bodybackground.jpg);
    /* background-image: url(./bback.jpg);  */
    width: 410px;
    height: 600px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.message-left,.message-right{
    list-style: none;
    padding: 8px 12px;
    margin: 12px;
    max-width: 250px;
    font-size: 18px;
    word-wrap: break-word;
}

.message-left{
    border-radius:20px 20px 20px 0px ;
    background-color: #787575;
    align-self: flex-start;
    box-shadow: -2px 2px 4px #dcdcdc;
    color: #fff;
}
.message-right{
    border-radius:20px 20px 0px 20px ;
    background-color: rgba(27, 185, 27, 0.867);
    align-self: flex-end;
    box-shadow: 2px 2px 4px #dcdcdc;
    color: #2b2525;
}

.message-left > p > span,
.message-right > p > span{
    display: block;
    font-style: italic;
    font-size: 12px;
    margin-top: 4px;

}

.feedback{
    font-style: italic;
    font-size: 14px;
    padding: 0px 16px 16px 16px;
    /* background-color: #2b2525; */
    color: #2d2d2d;
    text-align: center;
}

.message-form{
    display: flex  ;
    justify-content: space-between;
    width: 410px;
}

.message-input{
    flex-grow: 1;
    height: 48px;
    border: none;
    /* outline: none; */
    padding: 0 12px;
    font-size: 16px;
    background-color: #fff;

} 


.send-button{
    height: 48px;
    font-size: 16px;
    border: none;
    padding: 0px 20px;
    background-color: #fff;
    cursor: pointer;
}

.v-divider{
    background-color: #f6f6f6;
    /* height: 48px; */
    width: 2px;
}

.clients-total{
    margin: 20px 0;
    color: #fff;
    font-size: 25px;
    font-style: italic;
}























