<!-- <p>update works!</p>
<div class="d-flex flex-column">
    <input #name class="m-2" type="text" [value]="Student.name">
    <input #age class="m-2" type="text" [value]="Student.age">
    <input #email class="m-2" type="text" [value]="Student.email">
    <input #phone class="m-2" type="text" [value]="Student.phone">
    <input (click)="UpdateStd(name.value, age.value, email.value, phone.value)" class="m-2" type="button" value="update" >
    <input (click)="DeleteStd()" class="m-2" type="button" value="delete" >
  </div>
   -->

   <div  class="card ">
  <div class="container-fluid d-flex justify-content-center  h-50 shadow-lg p-3 mt-5 mb-5 fs-5 rounded ">
    <form class="desc" [formGroup]="myRegValid" class="row ">
        <div class="col">
          <p class="text-center text-light fw-bold fs-1">Registeration form</p>
        </div>
        <div class="form-group mb-3 primary-text">
          <label for="exampleInputname">User name:</label>
          <input formControlName="name"  #name type="text" class="form-control p-2" id="exampleInputname" aria-describedby="nameHelp" placeholder="Enter name">
          @if (myRegValid.controls["name"].valid==false) {
            <div style=" font-style: italic;">
                <small id="nameHelp" class="form-text text-danger ">the name must be at least 4 aipha char and not allow to include other char or number </small>
            </div> }
          </div> 
        <div class="form-group mb-3 primary-text">
              <label for="exampleInputEmail1">Email address:</label>
              <input formControlName="email" [value]="Student.email" #email type="email" class="form-control p-2" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              @if (myRegValid.controls["email"].valid==false) {
              <div style="font-style: italic;">
                  <small id="emailHelp" class="form-text text-danger ">the email must be like "example&#64;email.com"</small>
              </div>} 
        </div>
        <div class="form-group mb-3 primary-text">
              <label for="exampleInputphone">phone:</label>
              <input formControlName="phone" [value]="Student.phone" #phone type="number" class="p-2 form-control" id="exampleInputphone" aria-describedby="phoneHelp" placeholder="Enter phone">
              @if (myRegValid.controls["phone"].valid==false) {
              <div style="font-style: italic;">
                  <small id="phoneHelp" class="form-text text-danger  ">01112797471"</small>
              </div>} 
        </div>
        <div class="form-group mb-4 primary-text">
          <label for="exampleInputage">User age:</label>
          <input formControlName="age" [value]="Student.age" #age type="number" class="form-control p-2" id="exampleInputage" aria-describedby="ageHelp" placeholder="your age">
        @if (myRegValid.controls["age"].valid==false) {
          <div style="font-style: italic;">
              <small id="ageHelp" class="form-text text-danger  ">the age must be at least 20 and less than 40</small>
          </div>} 
        </div>
        <div class="text-center m-2 primary-text d-flex">
          @if(AgeValid && NameValid && emailValid && phoneValid){
           <input (click)="UpdateStd(name.value, age.value, email.value, phone.value)"  class="m-2 w-50 btn btn-primary p-2" type="button" value="update" >
            <input (click)="DeleteStd()"  class="m-2 w-50 btn btn-danger p-2" type="button" value="delete" >
         
           }@else {
            <input (click)="UpdateStd(name.value, age.value, email.value, phone.value)"  class="m-2 w-50 btn btn-primary p-2" type="button" value="update" disabled>
            <input (click)="DeleteStd()" type="button"  class="m-2 w-50 btn btn-danger p-2" value="delete" disabled>
         
       } 
        </div>
      </form>
    </div> 
    </div> 
    