$primary_color:red;
$secondry_color:aqua;

//nesting
div{
    .main-title{
        color: $primary_color;
    }
    .main-subtitle{
        color:$secondry_color;
    }
    .main-btn{
        background-color: $primary_color;
    }
    .main-btn:hover{
        background-color: $secondry_color;
    }
}


$fonts:14,16,18;
@each $font in $fonts{
    .font-#{$font}px{
        font-size: $font*1px;
    }
}

//tablet
@media ((min-width:481px) and (max-width:768px)){
   .finish-btn{
        width: 50%;
    }
}
//mobile
@media ((min-width:320px) and (max-width:500px)){
    .finish-btn{
        width: 100%;
    }
}

