
   .panel {
        margin-top: 20px;
       margin-bottom: 30px;
       color: #f9f8f8;
       background-color: rgba(108,117,125,0.5);
       border-radius: 5px;
       box-shadow: 0 2px 5px rgba(145, 135, 135, 0.989);
   }
   
 
   .panel-content {
       border-top: 1px solid #eee;
       padding: 31px 20px 33px;
   }
   

   .activity__list__icon {
       display: none;
       position: absolute;
       top: 2px;
       left: 0;
       min-width: 30px;
       color: #fff;
       background-color: #2bb3c0;
       border-radius: 50%;
       line-height: 30px;
       text-align: center;
   }
  
   
   .activity__list__body {
       padding-top: 13px;
       padding-left: 43px;
   }
 
   
   .entry-content blockquote:last-child,
   p:last-child,
   table:last-child,
   ul:last-child {
       margin-bottom: 0;
   }
   
   .entry-content blockquote p:before {
       content: "\f10d";
       color: #999;
       margin-right: 12px;
       font-family: "FontAwesome";
       font-size: 24px;
       font-weight: 900;
   }
   
  
   .activity__list__footer {
       display: -ms-flexbox;
       display: -webkit-box;
       display: flex;
       margin-top: 23px;
       margin-left: 43px;
       padding: 13px 8px 0;
       color: #999;
       border-top: 1px dotted #ccc;
   }
   
   .activity__list__footer a {
       color: inherit;
   }
   
   .activity__list__footer a + a {
       margin-left: 15px;
   }
   
   .activity__list__footer i {
       margin-right: 8px;
   }
   
   .activity__list__footer a:hover {
       color: #222;
   }
   
   .activity__list__footer span {
       margin-left: auto;
   }
