<!-- @for (u of Posts; track u.id) {
    <div class="alert alert-success">
      <p>Title: {{u.title}}</p>
      <p>Body: <a routerLink="posts/{{u.id}}">{{u.body}}</a></p>
    </div>
  } -->


<!--   
    @for (u of Posts; track u.id) {
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container ">
    <div class="col ">
        <div class="panel ">
            <div class="panel-content panel-activity"> 
                <ul class="panel-activity__list">
                        <i class="activity__list__icon fa fa-question-circle-o"></i>
                        <div class="activity__list__header">
                            <img src="https://bootdey.com/img/Content/avatar/avatar4.png"  class="rounded" width="50px"  alt="" />
                            <span> <a style=" text-decoration: none; color: white; font-size: 25px; font-weight: 500;" routerLink="/posts/{{u.id}}"> Momen Farouk</a></span>
                            </div>
                        <div class="activity__list__body entry-content" style=" font-size: 20px; font-style: italic;" >
                            <blockquote>
                             
                                    <p>  {{u.body|uppercase}}</p>
                                
                            </blockquote>
                        </div>
                        <div class="activity__list__footer">
                            <a href="#"> <i class="fa fa-thumbs-up"></i>123</a>
                            <a href="#"> <i class="fa fa-comments"></i>23</a>
                            <span> <i class="fa fa-clock"></i>2 hours ago</span>
                        </div>
                 
                </ul>
            </div> 
        </div>
    </div>
</div>
    }
     -->

     @for (u of Posts; track u.id) {
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container ">
        <div class="col ">
            <div class="panel ">
                <div class="panel-content panel-activity"> 
                    <ul class="panel-activity__list">
                            <i class="activity__list__icon fa fa-question-circle-o"></i>
                            <div class="activity__list__header">
                                <img src="https://bootdey.com/img/Content/avatar/avatar4.png"  class="rounded" width="50px"  alt="" />
                                <!-- <img [src]="imgsrc"  class="rounded" width="50px"  alt="" /> -->
                                <span> <a style=" text-decoration: none; color: white; font-size: 25px; font-weight: 500;" routerLink="/posts/{{u.id}}"> Momen Farouk</a></span>
                                </div>
                            <div class="activity__list__body entry-content" style=" font-size: 20px; font-style: italic;" >
                                <blockquote>
                                    <p> {{u.body|uppercase}} </p>
                                </blockquote>
                            </div>
                            <div class="activity__list__footer">
                                <a href="#"> <i class="fa fa-thumbs-up"></i>123</a>
                                <a  routerLink="/comments/{{u.id}}"> <i class="fa fa-comments"></i>23</a>
                                <span> <i class="fa fa-clock"></i>2 hours ago</span> 
                            </div>
                     
                    </ul>
                </div> 
            </div>
        </div>
    </div>
        }