<!-- <div class=" h-100 d-flex align-items-center justify-content-center ">
    <form [formGroup]="myRegValid" class="form border border-1 m-2 ">
        <div class="row">
            <p class="text-center text-primary fw-bold fs-2">Registeration form</p>
        </div>
        <div class="form-group d-flex text-center m-auto mt-2 mb-2">
          <label style="width: 60px;">Name</label>
          <input formControlName="name" class="form-control" type="text">
        </div>
        @if (myRegValid.controls["name"].valid==false) {
            <div style=" font-style: italic;">
                <small id="emailHelp" class="form-text text-muted text-danger">the name must be at least 4 aipha char and not allow to include other char or number </small>
            </div>
          }
        <div class="form-group d-flex text-center m-auto mt-2 mb-2">
          <label style="width: 60px;">Age</label>
          <input formControlName="age" class="form-control " type="number">
        </div>
        @if (myRegValid.controls["age"].valid==false) {
            <div style="font-style: italic;">
                <small id="emailHelp" class="form-text text-muted text-danger">the age must be at least 20 and less than 40  </small>
            </div>
          } -->
          <!-- to forbiden name if "" or not achieve the pattern and age if 0 or not between20&&40  -->
         <!-- @if(AgeValid&&NameValid){
            <div class="form-group text-center m-auto mt-2 mb-2">
                <input (click)="getData()" class="m-1 auto btn btn-success" type="submit" value="ADD Student">
            </div>
        }@else {
            <div class="form-group text-center m-auto mt-2 mb-2">
                <input (click)="getData()" class="m-1 auto btn btn-success" type="submit" value="ADD Student" disabled>
            </div>
        }
</form>
</div> -->


   
 <div class="container-fluid d-flex justify-content-center align-items-center w-25 h-50 shadow-lg p-3 mt-5 mb-5 fs-5 alert alert-primary rounded ">
    <form [formGroup]="myRegValid" class="row ">
        <div class="col">
          <p class="text-center text-primary fw-bold fs-1">Registeration form</p>
        </div>
        <div class="form-group mb-3">
          <label for="exampleInputname">User name:</label>
          <input formControlName="name" type="text" class="form-control" id="exampleInputname" aria-describedby="nameHelp" placeholder="Enter name">
          @if (myRegValid.controls["name"].valid==false) {
            <div style=" font-style: italic;">
                <small id="nameHelp" class="form-text text-muted ">the name must be at least 4 aipha char and not allow to include other char or number </small>
            </div> }
          </div> 
        <div class="form-group mb-3">
              <label for="exampleInputEmail1">Email address:</label>
              <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              @if (myRegValid.controls["email"].valid==false) {
              <div style="font-style: italic;">
                  <small id="emailHelp" class="form-text text-muted ">the email must be like "example&#64;email.com"</small>
              </div>} 
        </div>
        <div class="form-group mb-4">
          <label for="exampleInputage">User age:</label>
          <input formControlName="age" type="number" class="form-control" id="exampleInputage" aria-describedby="ageHelp" placeholder="your age">
        @if (myRegValid.controls["age"].valid==false) {
          <div style="font-style: italic;">
              <small id="ageHelp" class="form-text text-muted ">the age must be at least 20 and less than 40</small>
          </div>} 
        </div>
        <div class="text-center m-2">
          @if(AgeValid && NameValid && emailValid){
                 <button (click)="getData()" type="submit" class=" w-25 btn btn-primary" >Submit</button>
          }@else {
                  <button (click)="getData()" type="submit" class=" w-25 btn btn-primary" disabled>Submit</button>    
          }
        </div>
      </form>
    </div> 
   





















<!--     
 <div class="container-fluid d-flex justify-content-center align-items-center shadow-lg p-3 mb-5  rounded ">
    <form class="row ">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
       
        <div class="text-center m-2">
        <button type="submit" class=" w-25 btn btn-primary">Submit</button>
      </div>
      </form>
    </div>  -->

    <!-- <div class="container-fluid fs-5 mt-5 text-center bg-light shadow-lg p-3 mb-5 rounded ">
    <form class="row">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div> -->