table{
    border: 1px solid black;
    width: 90%;
    background-color: rgb(232, 142, 24);
    margin: 10px auto;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
  }
  
  tr,th,td{
    border: 1px solid black;
  }
  
  h1{
    background-color: antiquewhite;
    width: 50%;
    margin: 5px auto;
    border-radius: 20px;
    border-bottom: 4px dashed rgb(94, 8, 8);
    text-align: center;
  }